*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/* body{font:12px/180% Arial, Helvetica, sans-serif, "ו";} */
/* expmenu */
.leftside ul{margin: 0 0 0px 0px;}
.leftside ul.expmenu{width:100%;margin:0px auto;}
.leftside ul.expmenu li div.header{padding:12px;border-bottom:1px #70cef3 solid;}
.leftside ul.expmenu li:last-child div.header{border-bottom:5px;}
.leftside ul.expmenu li ul li {background-color:#ECF0F1;padding:12px 20px;/* border-bottom:1px solid #d2c8b5; */border-top:1px solid #d2c8b5;color:#727272;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8);}
.leftside ul.expmenu li ul li:last-child{border-bottom:none;}
.leftside ul.expmenu li ul li.selected{background-color:#f4f4f4;}
.leftside ul.expmenu div.header{
	color:#70cef3;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
	
	background:#70cef3;/* Old browsers */
	background:-moz-linear-gradient(top, #009999 0%, #009999 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#009999), color-stop(100%,#009999));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #009999 0%,#009999 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #009999 0%,#009999 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #009999 0%,#009999 100%);/* IE10+ */
	background:linear-gradient(to bottom, #009999 0%,#009999 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#70cef3', endColorstr='#70cef3',GradientType=0 );/* IE6-9 */
}
.leftside ul.expmenu li div.header .label{background:no-repeat;color: #fff;/*text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);*/ font-weight:bold;font-size:11pt;}
.leftside ul.expmenu li div.header .arrow{display:block;width:16px;height:16px;background:no-repeat center;float:right;}
/* .leftside ul.expmenu li div.header .arrow.up{background-image:url(../img/arrow_u.png);}
.leftside ul.expmenu li div.header .arrow.down{background-image:url(../img/arrow_d.png);} */
.leftside ul.expmenu li .menu{display:none;}	
/* Mouse Events */

.marginset{margin-bottom: 5px;}

.leftside ul.expmenu div.header:hover{
	background:#70cef3;/* Old browsers */
	background:-moz-linear-gradient(top, #00aaaa 0%, #00aaaa 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aaaa), color-stop(100%,#00aaaa));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #00aaaa 0%,#00aaaa 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #00aaaa 0%,#00aaaa 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #00aaaa 0%,#00aaaa 100%);/* IE10+ */
	background:linear-gradient(to bottom, #00aaaa 0%,#00aaaa 100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaaa', endColorstr='#00aaaa',GradientType=0 );/* IE6-9 */
	cursor:pointer;
}

.leftside ul.expmenu li ul li:not(.selected):hover{
	background:#efe8d8;/* Old browsers */
	cursor:pointer;
}
.leftside ul.expmenu li ul li:not(.selected):active{
	background:#f1f1f1;/* Old browsers */
	cursor:pointer;
}