@charset "utf-8";




/*.btn{ width:100%; border:0; font-size:18px; line-height:54px; height:54px; cursor:pointer; color:#fff; background:#2898fd;*/
    /*background:-moz-linear-gradient(top,  #2898fd 0%, #1d8ef8 100%);*/
    /*background:-webkit-gradient(linear, 0% 0,0% 100%,from( #2898fd),to( #1d8ef8),color-stop(0%,#2898fd), color-stop(100%,#1d8ef8));*/
    /*background:-o-linear-gradient(top, #2898fd 0%,#1d8ef8 100%);*/
    /*background:-ms-linear-gradient(top, #2898fd 0%,#1d8ef8 100%);*/
    /*background:linear-gradient(to bottom, #2898fd 0%,#1d8ef8 100%);*/
	/*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2898fd', endColorstr='#1d8ef8',GradientType=0 );*/
	/*filter:none\9;*/
	/*border-radius:3px;*/
	/*-o-border-radius:3px; */
	/*-ms-border-radius:3px;*/
	/*-moz-border-radius:3px;*/
	/*-webkit-border-radius:3px;*/
	/*box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
	/*-o-box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
	/*-ms-box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
	/*-moz-box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
	/*-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1);}*/
/*.btn:hover{ background:#1d7cf0; color:#fff;*/
    /*background:-moz-linear-gradient(top,  #1d7cf0 0%, #146de6 100%);*/
    /*background:-webkit-gradient(linear, 0% 0,0% 100%,from( #1d7cf0),to( #146de6),color-stop(0%,#1d7cf0), color-stop(100%,#146de6));*/
    /*background:-o-linear-gradient(top, #1d7cf0 0%,#146de6 100%);*/
    /*background:-ms-linear-gradient(top, #1d7cf0 0%,#146de6 100%);*/
    /*background:linear-gradient(to bottom, #1d7cf0 0%,#146de6 100%);*/
	/*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d7cf0', endColorstr='#146de6',GradientType=0 );*/
	/*filter:none\9;}*/

/*.logo i{background:url(img/ico_logo.png) no-repeat; width:15px; height:7px; float:left; margin:22px 0 0 8px;}*/



/*.logo .logo_nav{ display:none; float:left; position:absolute; z-index:10; top:66px; right:0px; width:200px; border:1px solid #1d7cf0; background:#fff;}*/
/*.logo .logo_nav:before{content:''; display: block; width: 0; height: 0; border: 1px solid; border-color: transparent; border-width: 0 8px 8px 8px; border-bottom-color: #fff; position: absolute; right:46%; top:-8px; z-index:10;}*/
/*.logo.hover .logo_nav{ display:block;}*/
/*.logo.hover i{ background-position:0 -7px;}*/
/*.logo .logo_nav a{ display:block; font-size:16px; line-height:40px; border-bottom:1px solid #e0e8ee; padding-left:20px; text-align:left;}*/
/*.logo .logo_nav a span{ float:right; color:#bbb; padding-right:10px;}*/

/*.nav{ line-height:80px; float:left; padding-left:15px;}*/
/*.nav dl{ float:left; position:relative; z-index:9;}*/
/*.nav dl dt{ float:left;}*/
/*.nav dl dt a{ float:left; padding:0 19px; color:#90a4af; font-size:18px;}*/
/*.nav dl dt.hover a{ background:#1d7cf0; color:#feef04;}*/
/*.nav dl dd{ display:none; float:left; position:absolute; z-index:10; top:80px; left:0; width:160px; border:1px solid #1d7cf0; background:#fff;}*/
/*.nav dl dd:before{content:''; display: block; width: 0; height: 0; border: 1px solid; border-color: transparent; border-width: 0 8px 8px 8px; border-bottom-color:#fff; position: absolute; left:25%; top:-8px; z-index:10;}*/
/*.nav dl dd a{ display:block; border-bottom:1px solid #e0e8ee; line-height:40px; font-size:16px; text-align:left; padding-left:20px;}*/
/*.nav dl dd a:hover{ background:#2898fd; border-bottom:1px solid #2898fd; color:#fff;}*/




/*.cut_nav{ margin:6px auto;line-height:40px; height:40px; clear:both; background:#fff; border-bottom:1px solid #e6edf2; text-align:left; font-size:16px;}*/
/*.cut_nav font{ padding-left:20px; float:left; color:#999;}*/
/*.cut_nav a{ float:left; padding:0 10px;}*/
/*.cut_nav em{ float:left; width:18px; height:18px; margin:11px 6px 0 0;}*/
/*.cut_nav em img{ width:100%; height:100%; float:left;}*/

/*.bar_nav{ line-height:50px; height:50px; clear:both; background:#ecf2f6; border-bottom:1px solid #1d7cf0; text-align:left; padding-left:20px; font-size:16px;}
.bar_nav em{ float:left; width:18px; height:16px; margin:16px 4px 0 0; background:url(img/ico_home.png) no-repeat;}
.bar_nav span{ padding:0 6px; color:#bbb;}
.bar_nav b{ color:#2898fd; font-weight:normal;}*/






/* .adm_child dd.a1 a{ background:#2898fd;}
.adm_child dd.a2 a{ background:#16b2ec;}
.adm_child dd.a3 a{ background:#08c4d5;}
.adm_child dd.a4 a{ background:#09ceb0;}
.adm_child dd.a5 a{ background:#16c988;}
.adm_child dd.a6 a{ background:#2cca20;}
.adm_child dd.a7 a{ background:#86bc1d;} */



.adm_page{ background:none; height:500px;}
.adm_page .adm_b{ width:96%; overflow:hidden;}
.adm_page .adm_child h3{ height:32px; line-height:32px; border-bottom:0;}


/*.t_sty{ position:fixed; z-index:910; height:100%; width:100%; left:0; top:0; display:none;}*/
/*.t_sty2{ position:fixed; z-index:920; height:100%; width:100%; left:0; top:0; display:none;}*/
/*em.bg{ display:block; background:#000; width:100%; height:100%;filter:alpha(opacity=60); opacity:0.6;}*/
/*.cp_t{ min-height:100px; background:#fff; position:absolute; z-index:10; bottom:0; left:0; width:100%; min-height:120px;}*/
/*.cp_t h3{ position:relative; border:1px solid #e8e8e8; line-height:54px; color:#a9a9a9; font-size:20px; font-weight:normal;}*/
/*.cp_t h3 a{ position:absolute; right:15px; z-index:10; color:#29b49d;}*/
/*.cp_t h3 a:active{ color:#ff9a1d;}*/
/*.cp_t dl{margin:50px 0; overflow:hidden; border:1px solid #e8e8e8; border-left:0; border-right:0;}*/
/*.cp_t dl select{ width:25%; border:0; height:50px; font-size:20px; color:#222;}*/
/*.cp_t dl input{ width:45%; float:right; border:0; font-size:20px; height:50px;}*/

/*.cz_t{ width:90%; height:200px;  background:#fff; position:absolute; z-index:10; bottom:50%; left:50%; margin-right:-45%; margin-left:-45%; margin-top:-100px; margin-bottom:-100px;}*/


/*.tool dl{ float:right; position:relative; width:111px; z-index:9;}*/
/*.tool dl dt{float:right; width:91px; text-align:left;}*/
/*.tool dl dt a{ text-align:left;}*/
/*.tool dl dt a em{ background-position:0 -20px;}*/
/*.tool dl dt i{ background:url(img/ico_top_rig.png) 0 -60px; float:right; width:8px; height:6px; margin-top:37px;}*/
/*.tool dl dd{ display:none; position:absolute; z-index:10; top:80px; right:0; width:276px; height:194px; border:1px solid #1d7cf0; background:#fff;}*/
/*.tool dl.hover dd{ display:block;}*/
/*.tool dl.hover dt a{ color:#feef04; white-space:nowrap;}*/
/*.tool dl.hover dt i{ background-position:0 -80px;}*/
/*.tool dl dd:before{content:''; display: block; width: 0; height: 0; border: 1px solid; border-color: transparent; border-width: 0 8px 8px 8px; border-bottom-color: #fff; position: absolute; right:38px; top:-8px; z-index:10;}*/
/*.tool dl dd p{ margin:15px 0 0 15px; display:block;}*/
/*.tool dl dd a{ background:#2898fd; width:72px; height:72px; float:left; display:inline; margin:5px; line-height:20px; text-align:center;}*/
/*.tool dl dd em{ display:block; padding:18px 0 10px 0;}*/
/*.tool dl dd img{ display:block; margin:0 auto; width:18px;}*/
/*.tool dl dd a:hover{ background:#1d7cf0;}*/



/*.adm_child dd.a1 a:hover,.adm_child dd.a2 a:hover,.adm_child dd.a3 a:hover,.adm_child dd.a4 a:hover,.adm_child dd.a5 a:hover,.adm_child dd.a6 a:hover,.adm_child dd.a7 a:hover{color:#2898fd;}*/

/*------------------------------------------------------------------------------------*/

body{
	min-width: 1220px;
	overflow: auto;
}
.message-box{
	overflow: hidden;
	background: url(../../img/sys/news.png) 30px 9px no-repeat;
}

.message-tip{
	height: 40px;
	margin: 0;
	padding:0 52px;
	position: relative;
}
.message-tip li {
	text-align: left;
	font-size: 14px;
	line-height: 40px;
	color:#555;
	margin-left: 11px;
}


.top{
	color:white;
	height:60px;
	/*overflow: hidden;*/
	background:url(../style/blue/cs/img/login_bg01.jpg) no-repeat ;
}
.header-title{
	float:left;
	cursor:pointer;
	background: url(../../img/sys/logoi-right.png) 30px 8px no-repeat;
	padding-left: 539px;
}
.header-title .rent {
	color: white;
	/*border: solid 1px white;*/
	background: url("../../img/sys/border.png") no-repeat;
	padding: 5px 0;
	/*border-radius: 15px;*/
	width: 100px;
	display: inline-block;
}
.rent:focus{
	outline: none;
}
.header-title h1{
	margin-right: 10px;
	font-size: 22px;
	font-weight: normal;
	display: inline-block;
}


.tool{
	/*float:right;*/
	/*margin-right:30px;*/
	text-align:right;
	line-height:60px;
	font-size: 16px;
}
.tool>li{
	display: inline-block;
	line-height: 60px;
	height: 60px;
}
.tool .personal-center{
	background: url("../../img/sys/indexup.png") 112px 26px no-repeat;
	padding-right: 30px;
	margin: 0 0px 0 15px;
	/*line-height: 60px;*/
}
.tool .personal-center:hover{
	/*background-color: ;*/
	background:white url("../../img/sys/indexdown.png") 112px 26px no-repeat;
}
.tool .personal-center:hover span{
	color:#409ff3;
	cursor: default;
}
.tool .personal-center:before{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../../img/sys/indexuesr.png") top center no-repeat;
	vertical-align: middle;
	margin:0 10px 0 5px;
}
.tool .personal-center:hover .personal-center-items{
	display: block;
}
.tool .personal-center-items{
	width: 138px;
	font-size: 16px;
	background-color: white;
	text-align: left;
	position: absolute;
	z-index: 1;
	color:#555;
	margin:0;
	display: none;
	box-shadow: 0px 4px 8px #ded8d8;
}
.tool .personal-center-items li{
	line-height: 40px;
	padding-left: 36px;
}
.tool .personal-center-items li:hover{
	background-color: #f4f8fb;
	color:#409ff3;
	cursor: pointer;
}
.tool .personal-center-items .edit-password{
	background: url("../../img/sys/indexkey.png") 5px 10px no-repeat;
}
.tool .exit{
	background: url("../../img/sys/indexclose.png") 10px 20px no-repeat;
	padding:0 30px 0 39px;
	display: inline-block;
	text-align: center;
	/*margin-left: 5px;*/
}
.tool .exit:hover{
	background-color: white;
}
.tool a{
	color: #FFF;
}
/*.tool>span{*/
	/*float:right;*/
/*}*/

.adm_body{
	background:url(../style/blue/cs/img/bg.jpg) top repeat-x;
	/*height:100%;*/
	min-height:680px;
	/*min-width: 1000px;*/
	position:relative;
}
.adm_body .ico_img{
	position:absolute;
	top:50%;
	z-index:8;
	width:28px;
	height:55px;
}
.adm_body .ico_img.lef{
	left:20px;
	background:url(../../img/sys/anniuleft1.png) 0 0 no-repeat;
}
.adm_body .ico_img.lef:hover{
	background:url(../../img/sys/anniulefthover.png) 0 0 no-repeat;
}

.adm_body .ico_img.rig{
	right:20px;
	background:url(../../img/sys/annirihgt.png) 0 0 no-repeat;
}
.adm_body .ico_img.rig:hover{
	background:url(../../img/sys/anniurighthover.png) 0 0 no-repeat;
}

.adm_body .adm_b{
	width:90%;
	height:100%;
	min-height: 600px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.adm_body .adm_z{
	height:100%;
	position:absolute;
	top:10%;
}
.adm_body .adm_child{
	float:left;
	height:100%;
}


.adm_body .foot_ico{
	position:absolute;
	z-index:8;
	left:50%;
	height:10px;
	line-height:16px;
}
.adm_body .foot_ico a{
	position:relative;
	float:left; right:50%; margin:0 5px; line-height:16px; display:inline;
	background-color:rgba(154,164,184,1);
	border-radius:5px;
	width: 40px;
	height:8px;
}
.adm_body .foot_ico a.hover{
	background:#409ff3;
}




.adm_child{
	position:relative;
	overflow:hidden;
}
/*.adm_child h3{ color:#2898fd; font-size:20px; line-height:50px; width:60%; border-bottom:1px solid #e0eaf1; margin:0 auto;}*/
.adm_child .adm_c{
	width:100%;
	height:100%;
}
.adm_child dl{
	float:left;
	margin:0 1%;
	width:12.5%;
	float:left;
	display:inline;
}
.adm_child dt {
	line-height: 40px;
	text-align: center;
	margin: 0 2%;
	clear: both;
	color: #999;
	font-size: 20px;
}
.adm_child dd a{ display:block; height:95px; background:#2898fd; color:#000; margin:0 2% 10px 2%; transition:all 0.2s ease-in-out;}


.adm_child dd.a1 a{ background:none;}
.adm_child dd.a2 a{ background:none;}
.adm_child dd.a3 a{ background:none;}
.adm_child dd.a4 a{ background:none;}
.adm_child dd.a5 a{ background:none;}
.adm_child dd.a6 a{ background:none;}
.adm_child dd.a7 a{ background:none;}


.adm_child dd a em{
	display:block;
	padding:35px 0 5px 0;
	text-align:center;
	position: relative;
}
.adm_child dd a em i{
	display: inline-block;
	background:url("../../img/sys/yuan.png") no-repeat;
	border-radius: 50%;
	width:20px;
	height: 20px;
	position: absolute;
	top:25px;
	right: 30px;
	line-height: 20px;
	color:white;
	font-style: normal;
	z-index: 1;
}
.adm_child dd a img{
	display:block;
	margin:0 auto;
}
.adm_child dd a span{
	font-size: 14px;
	color:#555;
}
.adm_child dl.two{
	width:25.5%;
}
.adm_child dl.two dd a{
	width:45%;
	float:left;
	display:inline;
}

.adm_child dl.three{
	width:38%;
}
.adm_child dl.three dd a{
	width:28%;
	float:left;
	display:inline;
}